<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="applicationContextProvider" class="util.ApplicationContextProvider"/>
    <bean id="customerDAO" class="dao.dao_jpa.CustomerDAO_JPA"/>
    <bean id="woodDAO" class="dao.dao_jpa.WoodDAO_JPA"/>
    <bean id="foresterDAO" class="dao.dao_jpa.ForesterDAO_JPA"/>
    <bean id="productDAO" class="dao.dao_jpa.ProductDAO_JPA"/>
    <bean id="saleDAO" class="dao.dao_jpa.SaleDAO_JPA"/>
    <bean id="supplyDAO" class="dao.dao_jpa.SupplyDAO_JPA"/>
    <bean id="userDAO" class="dao.dao_jpa.UserDAO_JPA"/>

    <bean id="woodService" class="services.services_impl.WoodServiceImpl"/>
    <bean id="customerService" class="services.services_impl.CustomerServiceImpl"/>
    <bean id="foresterService" class="services.services_impl.ForesterServiceImpl"/>
    <bean id="productService" class="services.services_impl.ProductServiceImpl"/>
    <bean id="saleService" class="services.services_impl.SaleServiceImpl"/>
    <bean id="supplyService" class="services.services_impl.SupplyServiceImpl"/>
    <bean id="userService" class="services.services_impl.UserServiceImpl"/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="piloramaPersistence"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.connection.url">
                    jdbc:mysql://localhost/pilorama?useSSL=false
                </prop>
                <prop key="hibernate.connection.driver_class">
                    com.mysql.jdbc.Driver
                </prop>
                <prop key="hibernate.connection.username">
                    root
                </prop>
                <prop key="hibernate.connection.password">
                    root123
                </prop>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.hbm2ddl.auto">
                    update
                </prop>
                <prop key="hibernate.show_sql">
                    true
                </prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
        <property name="jpaDialect" ref="jpaDialect"/>
    </bean>

    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="annotationTransactionAspect"
          class="org.springframework.transaction.aspectj.AnnotationTransactionAspect"
          factory-method="aspectOf">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

</beans>